
</div>
<div class="footer-padding"></div>
  <div class="footer" id="footer">
    <p>Made By <a class="foot" href="https://github.com/Kritika30032002">Chahat Gupta</a></p>
  </div>
</div>
</body>
</html>
